<ion-view title="Location Details" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list"></form>
        <div class="list card">
            <div class="item item-divider">Address</div>
            <div class="item item-body">
                <div id="locationDetails-markdown2" style="color:#000000;">
                    <p>{{checking.address}}</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Description</div>
            <div class="item item-body">
                <div id="locationDetails-markdown3" style="color:#000000;">
                    <p>{{checking.description}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>